.button {
  border: none;
  border-radius: 5px;
  margin: 0.3rem auto;
  padding: 0.3rem 0.5rem;
  background-color: var(--main-color);
  font: 500 1.2rem / 2rem var(--font-family);
  color: var(--background-color);
  margin: 0 auto;
  display: block;
}

.button:not(:disabled):active {
  transform: scale(0.9);
}

.button:disabled {
  background-color: #bcbcbc;
  cursor: not-allowed;
}

.small {
  width: max-content;
  min-width: 10rem;
  padding: 0.3rem;
}

.medium {
  width: 70%;
}

.large {
  padding: 0.5rem 1rem;
  width: 90%;
}

.secondary:not(:disabled) {
  background-color: var(--secondary-color);
  color: white;
}

.loading {
  display: block;
  margin: 0 auto;
  height: 1.5rem;
  width: 1.5rem;
  border: 0.2rem solid white;
  border-radius: 50%;
  border-left-color: transparent;
  animation: rotate 1s 0s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
