.container {
  width: 100%;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.headerImg {
  width: 100%;
}

.formulario {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerGeneral {
  width: 473px;
  height: 591px;
  background: #ffffff;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.containerGeneral h1 {
  margin-top: 30px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #111111;
}

.subtitulo {
  margin-top: 30px;
  width: 100%;
}

.subtitulo label {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #111111;
}

.nombreImagen {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  border: 1px solid #bcbcbc;
  border-radius: 5px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #111111;
}

.drap {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.uploadImagen {
  box-sizing: border-box;
  width: 357px;
  height: 163px;
  border: 1px dashed #bcbcbc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.uploadImagen2 {
  box-sizing: border-box;
  width: 357px;
  height: 163px;
  border: 1px dashed #b700ff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.uploadImagen p {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #bcbcbc;
}

.uploadImagen button {
  width: 160px;
  height: 33px;
  margin-top: 30px;
  display: flex;
  background: #ffffff;
  border: 1px solid #b700ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-sizing: border-box;
}

.uploadImagen2 button {
  position: relative;
  left: 70px;
}

.deleteButton {
  width: 31px !important;
  height: 31px !important;
  background: #ffffff !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 50px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border: #ffffff;
  cursor: pointer;
}
.deleteIcon {
  width: 20px !important;
  height: 20px !important;
}

.fileButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #b700ff;
}

.file {
  display: flex;
  width: 138px;
  height: 122px;
}

.sendDisabled {
  border: #ffffff;
  width: 100%;
  height: 44px;
  background: #bcbcbc;
  box-shadow: none !important;
  border-radius: 5px;
  margin-bottom: 30px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  background-color: #bcbcbc;
  text-align: center;
  color: #ffffff;
}

.send {
  background-color: #b700ff;
  border: #ffffff;
  width: 100%;
  height: 44px;
  box-shadow: none !important;
  border-radius: 5px;
  margin-bottom: 30px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 460px) {
  .containerGeneral {
    width: 100%;
  }
}
